/* In your global styles or Hero.scss */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents body scrolling */
  width: 100vw;
  height: 100vh;    
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling for anchor links */
}


p {
    font-family: "Lexend", serif;
    font-size: clamp(0.2rem, 2.5vw, 1.2rem);
}
