@import '../../../styles/variables';

.mapContainer {
  max-width: 1200px;
  margin: 0 auto;

  height: 600px; // Fixed height for the map

  border-radius: 8px;
}

.leafletTooltip {
  background-color: rgba(0, 0, 0, 0.8); // Dark background
  color: white;                        // White text
  font-size: 14px;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
}

.tooltipContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltipImage {
  width: 100px;       // Fixed width for the image
  height: 100px;      // Fixed height for the image
  object-fit: cover;  // Ensure the image fits properly
  border-radius: 4px; // Rounded corners for the image
  margin-bottom: 8px;
}

.tooltipTitle {
  margin: 0 0 8px;
  font-size: 14px;
  font-weight: bold;
  font-family: $font-oswald;
}

.tooltipText {
  margin: 4px 0;
  font-size: 14px;
  font-family: $font-lexend;
}
