@import '../../styles/variables';

.background {
  background-color: #f5c376;
  height: 100%;
  padding-bottom: 2rem; //TEMP

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;

    img {
      max-width: 100%;
    }

    .cardGrid {
      display: grid;
      gap: 1.5rem; // Adds spacing between cards
      grid-template-columns: repeat(
        auto-fill,
        minmax(300px, 1fr)
      ); // Responsive grid layout
      justify-content: center; // Center cards horizontally if there are fewer items
      margin-top: 2rem;

      .card {
        text-align: center;
        background-color: #ffffff77;
        border-radius: 8px;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        max-width: 300px; // Ensure the card width stays fixed

        color: black;
        text-decoration: none;

        &:hover {
          transform: scale(1.025); // Adds a hover effect
        }

        .cardImage {
          max-width: 100%; // Ensures the image is responsive within the card
          border-radius: 4px;
          width: 312px;
          height: 312px;
        }

        .cardTitle {
          text-transform: uppercase;
          font-weight: 700;
          font-size: $font-size-large;
          margin: 0.5rem 0;
        }

        .cardLocation,
        .cardLevel {
          font-size: $font-size-base;
          margin: 0.25rem 0;
        }
      }
    }
  }
}
