@import '../../styles/variables';

.background {
    background-color: $background-color-primary;
    height: 100%;
    padding-bottom: 2rem;
  
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 1rem;
  
      img {
        max-width: 100%;
      }
    }
}